.hero-container {
  /* background: url('/images/img-home.jpg') center center/cover no-repeat; */
  height: 110vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../../../../public/downloadh.jpg");
  background-repeat: no-repeat;
  object-fit: contain;
}
.hero-container > h1 {
  color: rgb(10, 11, 85);
  font-size: 100px;
  margin-top: -100px;
  margin-left: 200px;
}

.hero-container > p {
  margin-top: 8px;
  margin-left: 20%;
  color: rgb(180, 69, 41);
  font-size: 32px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.hero-btns {
  margin-top: 32px;
  color: #e004fb;
}

.hero-btns .btn {
  margin: 6px;
  margin-right: -194px;
}

.fa-play-circle {
  margin-left: 4px;
}

@media screen and (max-width: 960px) {
  .hero-container > h1 {
    font-size: 70px;
    margin-top: -150px;
  }
}

@media screen and (max-width: 768px) {
  .hero-container > h1 {
    font-size: 50px;
    margin-top: -100px;
  }

  .hero-container > p {
    font-size: 25px;
  }

  .btn-mobile {
    display: block;
    text-decoration: none;
  }

  .btn {
    width: 100%;
  }
}
